* {
    padding: 0;
    margin: 0;
}

.tempoHeight {
    height: 100vh;
    padding: 1%;
}

#header {
    /*padding-bottom: 5%; !*innern abstand von unten*!*/
    /*margin-bottom: 5%; !*Aussern abstand von unten*!*/
}

#hero {
    padding-top: 15%;
    text-align: center;
}

.hoverEffect {
    box-shadow: 30px 25px 4px #f9c2ee;
    transition: box-shadow 3s;
}

.hoverEffect:hover {
    box-shadow: 30px 25px 4px #fcf69c;
    transition: box-shadow 3s;
    transform: scale(1.2, 1.2);
}

.textShadowMe {
    text-shadow: -20px 20px 20px #000000;
}

.rowPosition {
    padding-top: 5%;
}

.progressBarDiv {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.progress {
    width: 120px;
    -webkit-text-fill-color: darkturquoise;
}

#header {
    max-width: 1200px;
}

.CFL {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: red;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#header .CFL {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navUL {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItem a {
    padding-right: 20px;
}