* {
    padding: 0;
    margin: 0;
}

.tempoHeight{
    height: 100vh;
    padding: 1%;
}

#header{
    background-color: red;
    padding-bottom: 5%; /*innern abstand von unten*/
    margin-bottom: 5%; /*Aussern abstand von unten*/
}

#hero{
    padding-top: 15%;
    text-align: center;
}